h5py>=3.8.0
matplotlib>=3.7.0
matplotlib-venn==0.11.9
numpy>=1.23.5,<2.0.0
pandas>=2.0.0
pyfaidx>=0.7.0
scikit-learn>=1.2.0
scipy>=1.10.0
tensorflow==2.21.0
tf-keras==2.21.0
tensorflow-probability==0.25.0
protobuf>=3.20.3
tqdm>=4.65.0
deepdish>=0.3.7
deeplift==0.6.13.0
modisco==0.5.16.0
modisco-lite>=2.2.0
weasyprint>=60.0
kundajelab-shap==1
#kundajelab-shap @ git+https://github.com/kundajelab/shap @ git+https://github.com/kundajelab/shap@master#egg=shap

